@model ScribblyDump.ViewModel.HoofdstukViewModel

@{
    ViewBag.Title = "CreateChapter";
}

<h2>CreateChapter</h2>

@using (Html.BeginForm("SubmitChapter", "Hoofdstuk"))
{
    <p> titel</p>
    @Html.TextBoxFor(model => model.Titel)


    <p> Body </p>
    @Html.TextAreaFor(model => model.Body)

    <p> Hoofdstuk nummer</p>
    @Html.TextBoxFor(model => model.nummer)

    <input type="submit" value="Submit" id="Save" />
}
