@model List<ScribblyDump.ViewModel.HoofdstukViewModel>
@{
    ViewBag.Title = "Hoofdstuk";
}

@if (Model != null)
{
    <h2> List of Chapters</h2>
    <ul>
   @foreach(var item in Model)
    {
        
      <li>@Html.ActionLink($"{item.Titel}", "ViewChapter", "Hoofdstuk", new { ID = item.hfdstkID}, null)</li>
      
    }

   </ul>

}

else
{
    <p> This story does not have any chapters yet!</p>
}


