@model List<ScribblyDump.ViewModel.HoofdstukViewModel>
@{
    ViewBag.Title = "Hoofdstuk";
}

@if (Model != null)
{
    <ul>
   @foreach(var item in Model)
    {
        
      <li>@Html.ActionLink($"{item.Titel}", "Chapter", "Hoofdstuk")</li>
      
    }

   </ul>

}

else
{
    <p> This story does not have any chapters yet!</p>
}


