@model ScribblyDump.ViewModel.HoofdstukViewModel
@{
    ViewBag.Title = "SingleChapter";
}

<h2>SingleChapter</h2>

<h1>@Html.DisplayFor(model => model.Titel)</h1>

@Html.DisplayFor(model => model.Body)

