@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  Fontys Hogescholen Tilburg
</address>

<iframe width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDSz6gr9IfUgutNwEcmVc5HA-UlDOn1dUw&q=Space+Needle,Seattle+WA" allowfullscreen></iframe>


