@model List<ScribblyDump.ViewModel.VerhaalViewModel>
@{
    ViewBag.Title = "AllStories";
}



@if (Model != null)
{
    int i = 0;

    <table id="myTable" style="width: 100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Auteur</th>
                <th>Titel</th>
                <th>Beschrijving</th>
                <th>Genre</th>
              
            </tr>

        </thead>



        @foreach (var item in Model)
        {
            i += 1;

            <tbody>
                <tr>

                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GebrID)
                    </td>

                    <td>
                        @Html.ActionLink($"{item.Titel}", "FirstChapter", new { ID = item.ID }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Beschrijving)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                  

                </tr>

            </tbody>
        }




    </table>
}


else
{
    <p> It seems there are no stories yet!</p>
}


