@model ScribblyDump.ViewModel.VerhaalViewModel


@{
    ViewBag.Title = "CreateVerhaal";
}

<h2>CreateVerhaal</h2>

@using (Html.BeginForm("AddVerhaal", "Verhaal"))
{
    
    <label> Title </label>
    @Html.TextBoxFor(model => model.Titel)

    <label> Description </label>
    @Html.TextBoxFor(model=> model.Beschrijving)


        <label>Genre</label>
    
    @Html.EnumDropDownListFor(model => model.Genre)


    <input type="submit" value="Submit" id="Save" />
}
