@model ScribblyDump.ViewModel.VerhaalViewModel
@{
    ViewBag.Title = "VerhaalPage";
}

<h2>VerhaalPage</h2>

@using (Html.BeginForm())
{

    if (Model != null)
    {
        <table id="myTable" style="width: 100%">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Beschrijving</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Beschrijving)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

    else
    {
        <p> You don't seem to have any stories yet!</p>
    }
}

@using (Html.BeginForm("GoToAddVerhaal", "Verhaal"))
{
    <input type="submit" value="Create Story" id="go" />
}

