@model ScribblyDump.Models.Gebruiker
@{
    ViewBag.Title = "Edit Description";
}

<h2>Description</h2>

@using (Html.BeginForm("UserDescr", "Gebruiker"))
{
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Submit" id="Save"/>
}


