@model ScribblyDump.Models.Gebruiker

@{
    ViewBag.Title = "boi I die";

}
<h2>@ViewBag.Title</h2>

<p> welcome binch</p>

@using (Html.BeginForm("GoToRegister", "Gebruiker"))
{
    <input type="submit" name="yo" value="register" />
}

@using (Html.BeginForm("GoToLogin", "Gebruiker"))
{
    <input type="submit" name="golog" value="Login" />
}









