@model ScribblyDump.Models.Gebruiker

@{
    ViewBag.Title = "boi I die";

}
<h2>@ViewBag.Title</h2>

<p> okay so what im gonna do is try to put the thing somewhere and the other thing somewhere fucking else</p>



@using (Html.BeginForm("Login", "Gebruiker"))
{
    @Html.TextBoxFor(model =>model.Username)
    @Html.TextBoxFor(model=>model.Password)


    <input type="submit" name="yey" value="submit"/>
}



