@model ScribblyDump.Models.Gebruiker


<html>

    <head>
                                         <!-- een boven, een boven, Content, Scribble.css-->
        <link rel="stylesheet" type="text/css" href="../../Content/Scribble.css">
    </head>

    <body>
@{
    ViewBag.Title = "boi I die";

}




    <h2>@ViewBag.Title</h2>

    <p> welcome binch</p>

@using (Html.BeginForm("GoToRegister", "Gebruiker"))
{
    <input type="submit" name="yo" value="register" />
}

@using (Html.BeginForm("GoToLogin", "Gebruiker"))
{
    <input type="submit" name="golog" value="Login" />
}

    </body>
</html>








