@{
    ViewBag.Title = "boi I die";

}
<h2>@ViewBag.Title</h2>

<p> okay so what im gonna do is try to put the thing somewhere and the other thing somewhere fucking else</p>


@* i go to a view, test, here, to be removed later cuz i ain't gonna use a thing called test of course*@
@using (Html.BeginForm("Redirecty", "Gebruiker"))
{

    <input type="submit" name="yey" value="gototest"/>

}

