@model ScribblyDump.ViewModel.GebruikerViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Gebruiker"))
{
    <label> Username</label>
    @Html.TextBoxFor(model => model.Username)
    <label> Password </label>
    @Html.TextBoxFor(model => model.Password)

    <input type="submit" name="yis" value="login" />
}



