@model ScribblyDump.ViewModel.GebruikerViewModel


@{
    ViewBag.Title = "userPage";
}

<h2>@Model.Username  </h2>


@using (Html.BeginForm("Description", "Gebruiker"))
{
    if (Session["Username"] != null)
    {     
            <p id="userdescrLabel">
                @Model.Description
            </p>       
           <input id="Edit" type="submit" value="Edit" /> 
        
    }

}


@using (Html.BeginForm("GoToStory", "Gebruiker"))
{
    <input id="submit" type="submit" value="go to story" />
}

@using  (Html.BeginForm("GoToShortlist", "Gebruiker"))
{
    <input id="submit" type="submit" value="Go to Shortlist" />
}












