@model ScribblyDump.Models.Gebruiker
@{
    ViewBag.Title = "userPage";
}

<h2>@Model.Username  </h2>


@using (Html.BeginForm("Description", "Gebruiker"))
{
    if (Session["Username"] != null)
    {     
            <p id="userdescrLabel">
                @Model.Description
            </p>       
            <input id="Edit" type="submit" value="Edit" />
        
    }

}

